node_modules/
Frontend/node_modules/
Frontend/build/
.env
dist/
build/
uploads/
Backend/venv/
*.log
Frontend/build
Backend/uploads/
Backend/venv/
Backend/.env
Backend/__pycache__/
Backend/*.pyc
Backend/*.pyo
Backend/*sqlite3
Backend/*sqlite

